extends layout

block content
	h1= title
	p Welcome to #{title}
	form(action="/" method="GET")
		input(type="text" placeholder="Enter a Treehouse username" id="username" name="username")
		input(type="submit" value="search" class="button")
