extends layout

block content
	h1= title
	p Welcome to #{title}
	p Plug in your teamTreehouse username.  What does the color say about how you feel about learning to code?
	form(action="/" method="GET")
		input(type="text" placeholder="Enter a Treehouse username" id="username" name="username")
		input(type="submit" value="search" class="button")
